singularity {
	enabled = true
	autoMounts = true
}

profiles {
    slurm {
        process.executor = "slurm"
        process.queue = "defq"
        process.clusterOptions = "--ntasks=1"
    }
}

executor {
    queueSize = 35 // # of tasks the executor will handle in a parallel manner
    submitRateLimit = "15 sec"
    pollInterval = "30 sec"
}